/* .mensagem::before{
    content: "";
    color: #00BF3D;
    animation: palavras 23s infinite;
}
.mensagem::after{
    content: "";
    position: absolute;
    height: 100%;
    border-left: 2px solid #00BF3D;
    right: -10px;
    animation: cursor .8s infinite, digita 23s steps(15) infinite;
    width: calc(100% + 15px);
    background-color: black;

}
@keyframes digita {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%{
        width: calc(100% + 15px);
    }
}
@keyframes cursor {
    0%{
        border-left: 2px solid #000000;
    }
}
@keyframes palavras {
    0%, 25%{
        content: "Software Developer";
    }
    26%, 50%{
        content: "Front-end Developer";
    }
    51%, 75%{
        content: "Desenvolvedor Front-end";
    }
    76%, 100%{
        content: "Programador";
    }
} */
