@media screen and (max-width: 1270px) {

    #cardProjeto1,
    #cardProjeto2,
    #cardProjeto3 {
        height: 200px;
    }
}

@media screen and (max-width: 1119px) {

    #cardProjeto1,
    #cardProjeto2,
    #cardProjeto3 {
        height: 228px;
    }
}

@media screen and (max-width: 1075px) {

    .cards-habilidades1,
    .cards-habilidades2 {
        margin-left: 0%;
    }

    .txts {
        display: none;
    }

    /* EDITADO 29/07 */
}

@media screen and (max-width: 992px) {
    #nav {
        display: inline;
    }

    #foto {
        width: 250px;
    }
}

@media screen and (max-width: 888px) {

    #cardProjeto1,
    #cardProjeto2,
    #cardProjeto3 {
        height: 80%;
    }

    #foto {
        width: 210px;
    }

    #cardProjeto4,
    #cardProjeto5,
    #cardProjeto6 {
        height: 200px;
    }
}

@media screen and (max-width: 700px) {

    /* section {
        min-height: 0;
    } */
    /*********** INICIO********* */
    .topo {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        align-self: center;
    }

    .nav-desktop {
        display: none;
    }

    .btn-abrir-menu,
    .nav-mobile {
        display: block;
        margin-left: 85%;
    }

    .btn-fechar {
        text-align: left;
    }

    .meu-nome {
        margin-left: -2%;
        margin-bottom: 70px;
        font-size: 28pt;
        margin-top: 330px;
    }

    .mensagem {
        margin-bottom: 70px;
        margin-left: -3%;
        font-size: 32px;
        margin-top: 395px;

    }

    @keyframes palavras {

        0%,
        50% {
            content: "Software Developer";
        }

        51%,
        100% {
            content: "Front-end Developer";
        }
    }

    #foto {
        margin-top: -20px;
        width: 220px;
        margin-left: -1%;
        margin-top: 100px;
        position: absolute;
        padding: 0;
    }

    .divRedes {
        margin-top: 15px;
        padding-bottom: 10px;
    }

    .linkedin {
        width: 35px;
        margin-left: -30px;
        padding: 0;
    }

    .git {
        width: 35px;
        padding: 0;
    }

    .insta {
        width: 35px;
        padding: 0;
    }

    /*********** INICIO********* */

    /*********** SOBRE MIM********* */
    .sobremim {
        padding-top: 10px;
    }

    #title1,
    #title2,
    #title3 {
        font-size: 50px;
        margin-bottom: 2%;
    }

    #txtsobremim {
        margin-left: 10%;
        margin-right: 9%;
        line-height: 25px;
        margin-top: 5%;
        font-size: 20px;
    }

    /*********** SOBRE MIM********* */

    /*********** HABILIDADES********* */
    .habilidades {
        margin-top: -100px;
    }

    #icons {
        font-size: 65px;
        margin-top: 50%;
        /* novo */
        line-height: -100%;
        /* novo */
    }

    .txts {
        display: none;
    }

    #card1 {
        width: 40%;
        height: 130px;
        margin-top: 4%;
        margin-bottom: 100px;
        text-align: center;
        line-height: -100%;
        position: relative;
        /* novo */
    }

    #card2 {
        width: 40%;
        height: 130px;
        margin-top: 4%;
        margin-bottom: 100px;
        text-align: center;
        line-height: -100%;
        /* novo */
    }

    #card3 {
        width: 40%;
        height: 130px;
        margin-left: -82%;
        margin-top: 165px;
        text-align: center;
        line-height: -100%;
        /* novo */
    }

    #card4 {
        width: 40%;
        height: 130px;
        margin-left: 2%;
        margin-top: 165px;
        text-align: center;
        line-height: -100%;
        /* novo */

    }

    #card5 {
        width: 40%;
        height: 130px;
        margin-top: 2.5%;
        margin-left: 0%;
        text-align: center;
        line-height: -100%;
        /* novo */
    }



    #card6 {
        width: 40%;
        height: 130px;
        margin-top: 2.5%;
        text-align: center;
        line-height: -100%;
        /* novo */
    }



    #card7 {
        width: 40%;
        height: 130px;
        margin-left: -82%;
        margin-top: 157px;
        text-align: center;
        line-height: -100%;
        /* novo */
    }



    #card8 {
        width: 40%;
        height: 130px;
        margin-left: 2%;
        margin-top: 157px;
        text-align: center;
        line-height: -100%;
        /* novo */

    }

    /*********** HABILIDADES********* */

    /*********** PORJETOS********* */
    #cardProjeto1 {
        width: 84%;
        height: 190px;
        margin-left: 8.3%;
        margin-top: 5%;
        margin-bottom: 2%;
        position: absolute;
    }

    #cardProjeto2 {
        width: 84%;
        height: 190px;
        margin-left: 8.3%;
        margin-top: 240px;
        margin-bottom: 2%;
        position: absolute;
    }

    #cardProjeto3 {
        width: 84%;
        height: 190px;
        margin-left: 8.3%;
        margin-top: 450px;
        margin-bottom: 2%;

    }

    #cardProjeto4 {
        width: 70%;
        height: 150px;
        margin-left: 17%;
        margin-top: 5px;
        margin-bottom: 2%;

    }

    #cardProjeto5 {
        display: none;

    }

    #cardProjeto6 {
        display: none;

    }

    /*********** PORJETOS********* */
}

@media screen and (max-width: 530px) {
    #foto {
        width: 200px;
    }

    #card3, #card4{
        margin-top: 160px;
    }
    #card7, #card8{
        margin-top: 152px;
    }

}

@media screen and (max-width: 430px) {
    .divRedes {
        margin-top: 10%;
        padding-bottom: 15%;
    }
    #title1,
    #title2,
    #title3 {
        font-size: 48px;
    }
}

@media screen and (max-width: 375px) {
    .divRedes {
        margin-top: 0%;
    }
    #title1,
    #title2,
    #title3 {
        font-size: 40px;
    }
    #icons {
        font-size: 50px;
    }
    #card1, #card2, #card3, #card4, #card5, #card6, #card7, #card8{
        height: 100px;
    }
    #card3, #card4{
        margin-top: 120px;
    }
    #card7, #card8{
        margin-top: 115px;
    }
}

@media screen and (max-width: 320px) {
    .divRedes {
        margin-top: -50%;
    }

    #foto {
        width: 170px;
        margin-top: 20%;
    }

    .meu-nome {
        font-size: 23pt;
        margin-top: 80%;
    }

    .mensagem {
        font-size: 22pt;
        margin-top: 95%;
    }
}
